.container {
  max-width: 480px;
  margin: 0 auto;
  height: 100vh;
  color: #ffffff;
}

.search-field {
  padding-inline: 16px;
  padding-top: 25px;
  width: 100%;
}

.search-field ::ng-deep .mat-mdc-form-field {
  background-color: #2a2a2a;
  border-radius: 8px;
}

.search-field ::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #2a2a2a;
}

.search-field ::ng-deep input {
  color: #9ca3af !important;
}

.results-count {
  padding-inline: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: #9ca3af;
  font-size: 16px;
}

.results-count mat-icon {
  font-size: 18px;
  width: 15px;
  height: 20px;
}

.bar-list {
  display: flex;
  flex-direction: column;
}
