<div class="flex flex-col items-center w-full bg-[var(--app-bg)] border border-gray-800 overflow-hidden">
  <div class="image-blur-bottom relative w-full h-[45%]">
    <img
      src="https://images.unsplash.com/photo-1656758073866-e12c8d8de36c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHx0YXZlcm4lMjBwdWJ8ZW58MXx8fHwxNzYxNTgxNTQ1fDA&ixlib=rb-4.1.0&q=80&w=1080"
      [alt]="bar().name"
      class="w-full h-full object-cover rounded-xl"
    />

    <div class="z-2 flex items-center absolute w-[90%] h-[50px] bg-[rgba(58,48,32,0.9)] backdrop-blur-xs mt-10 bottom-[-20px] left-1/2 transform -translate-x-1/2 border-1 border-[#b87a15] rounded-lg px-4 py-2">
      <p class="text-lg">
        <span class="text-[#b87a15] font-medium">Spécialité: </span>
        <span class="text-[#edaf05]">{{bar().category}}</span>
      </p>
    </div>
  </div>

  <div class="bar-body-container w-full mt-5 p-10 grid grid-cols-2 gap-6 justify-items-center overflow-y-scroll">
    <div class="bar-info-container">
      <div class="bar-title-container">
        <address-icon></address-icon>
        <p class="text-gray-400">Adresse</p>
      </div>
      <p class="bar-info-text">{{ bar().address }}</p>

    </div>
    <div class="bar-info-container">
      <div class="bar-title-container">
        <telephone-icon></telephone-icon>
        <p class="text-gray-400">Téléphone</p>
      </div>
      <p class="bar-info-text">+33 1 42 XX XX XX</p>
    </div>

    <div class="bar-info-container">
      <div class="bar-title-container">
        <clock-icon></clock-icon>
        <p class="text-gray-400">Horaires</p>
      </div>
      <p class="bar-info-text">17h00 - 02h00</p>
    </div>

    <div class="bar-info-container">
      <div class="bar-title-container">
        <dollar-icon></dollar-icon>
        <p class="text-gray-400">Prix moyen</p>
      </div>
      <p class="bar-info-text">6€ - 12€</p>
    </div>
    <div class="action-buttons flex justify-end w-full col-span-2 gap-4 mt-6">
      <button
        class="edit-button py-2 px-4 text-sm font-medium text-white bg-[#b87a15] hover:bg-[#9d680f] rounded-md focus:outline-none">
        Modifier
      </button>
      <button
        class="delete-button py-2 px-4 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-md focus:outline-none"
        (click)="deleteBar()">
        Supprimer
      </button>
    </div>
  </div>


</div>
