/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  );
  font-feature-settings: var(--default-font-feature-settings, normal);
  font-variation-settings: var(--default-font-variation-settings, normal);
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  scrollbar-width: thin;
}

:root {
  --app-bg: #242424;
  --app-orange: #edaf05;
  --app-black: #1a1a1a;
}
