/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
  /* background-color: #2a2a2a; */
}

html {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, 'Helvetica Neue', sans-serif; */
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  );
  font-feature-settings: var(--default-font-feature-settings, normal);
  font-variation-settings: var(--default-font-variation-settings, normal);
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
}

:root {
  --app-bg: #242424;
}
